<ion-header>
  <ion-toolbar>
    <ion-title>p>perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>

  </ion-toolbar>
  
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Dias das vacinas</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="profile">
        <ion-icon routerLink="/perfil" name="person-circle"></ion-icon>
        <ion-label>perfil</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="map">
        <ion-icon name="map"></ion-icon>
        <ion-label>Mapa</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="about">
        <ion-icon routerLink="/sobre" name="information-circle"></ion-icon>
        <ion-label>sobre o app</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>